body {
  padding-top: 32px;
  background: #f1f1f1;
}

.main-content{
	@media (min-width: @screen-sm){
		margin-left: 170px;
	}
}

.clear-left{
	clear: left;
}

.inline{
	display: inline;
}

.top-margin{
	margin-top:20px;
}

.right-margin-sm{
	margin-right: 5px;
}

.left-margin-sm{
	margin-left: 5px;
}